@model OneWorkshopView

@foreach (var p in @Model.Challenges) {
    <h5> @p.Name </h5>
    <p> @p.Description</p>
    <p> @p.ChallengeBriefMarkdown</p>

    <form asp-action="SubmitChallenge" asp-controller="Workshop" method="post">
        <input type="hidden" asp-for="WorkshopId" value="@Model.WorkshopId"/>
        <input type="hidden" asp-for="ChallengeId" value="@p.ChallengeId"/>
        <button class="btn btn-primary mt-2" type="submit">
            Mark as for submission
        </button>
    </form>

}
