@model OneWorkshopView

<h1> @Model.WorkshopObject.Name </h1>
<h3> @Model.WorkshopObject.Description </h3> 
<h3> Number of Challenges: @Model.Challenges.Count() </h3>

And the wpobj is:
@if (@Model.WorkshopProgressObject == null) {
    <p> You are not yet enrolled! </p>

    <form asp-action="Start" asp-controller="Workshop" method="post">
        <input type="hidden" asp-for="WorkshopId" value="@Model.WorkshopObject.WorkshopId"/>
        <button class="btn btn-primary mt-2" type="submit">
            Start Workshop
        </button>
    </form>

} else {
    <p> currently enrolled! </p>
    @Model.WorkshopProgressObject.UserId

    @foreach (var p in @Model.Challenges) {
        <h5> @p.Name </h5>
        <a href="/workshops/@Model.WorkshopId/challenges/@p.ChallengeId"> View </a>
    }
}
