@model OneWorkshopView

<h4>
    <a class="badge rounded-pill bg-primary text-white" style="float:left" href="/workshops"> 
        << Back to Workshops
    </a>
</h4>


<br>
<br>


<h1> @Model.WorkshopObject.Name </h1>
<h4> @Model.WorkshopObject.Description </h4> 
<h4> Number of Challenges: @Model.ChallengeProgressList.Count() </h4>

<p>
    @Html.Raw(@Model.WorkshopObject.WorkshopBriefMarkdown)
</p>

@if (@Model.WorkshopProgressObject == null) {
    <p> You are not yet enrolled! </p>

    <form asp-action="Start" asp-controller="Workshop" method="post">
        <input type="hidden" asp-for="WorkshopId" value="@Model.WorkshopObject.WorkshopId"/>
        <button class="btn btn-primary mt-2" type="submit">
            Start Workshop
        </button>
    </form>

} else {
    <p> currently enrolled! </p>
    <br>
    <br>

    @foreach (var p in @Model.ChallengeProgressList) {

        <div class="card" style="">
        <div class="card-body">
            <h5 class="card-title">@p.Challenge.Name</h5>
            <h6 class="card-subtitle mb-2 text-muted">Status: @p.ChallengeStatus</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="/workshops/@Model.WorkshopId/challenges/@p.ChallengeId" class="card-link">View</a>
        </div>
        </div>

        @* <div class="card card-outline-primary m-1 p-1">
            <div class="bg-faded p-1">
                <h4>
                    @p.Challenge.Name
                    <a class="badge rounded-pill bg-primary text-white" style="float:right" href="/workshops/@Model.WorkshopId/challenges/@p.ChallengeId"> 
                        View
                    </a>
                </h4>
                <p> Status: @p.ChallengeStatus </p>

                
            </div>
            <span class="card-text p-1">
                @p.Challenge.Description
            </span>
        </div> *@

    }
}

<br>
<br>

<h1> Points Ledger </h1>
<h2> You have @Model.sumOfPoints Points </h2>
<br>
<br>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Remarks</th>
      <th scope="col">Points</th>
    </tr>
    <tbody>
        @foreach (var row in @Model.LedgerTable) {
            <tr>
                <td> @row.Remarks </td>
                <td> @row.Points </td>
            </tr>
        }
    </tbody>
  </thead>
  <tbody>
</table>
